<div class="intro">
  <h1>Weather Station</h1>
  <p class="lead"> Whatever you are planning, Weather Station will help you by providing you with weather forecasting that you can rely on.</p>
  <p>
    Your personalised weather station.  Planning what to do for the day but it depends on the weather ?  Planning a barbeque for the weekend if it's not raining ?
  </p>
</div>
