<div class="widget todays_forecast">
  <h2>Todays Forecast</h2>
  <div class="results">
    <h3>For <%= forecast.location %></h3>
    <div class="<%= forecast.currently.icon %>"></div>
    <p><%= forecast.currently.summary %></p>
    <p>Temperature: <%= forecast.currently.temperature %></p>
  </div>
</div>
