<div class="widget todays-forecast col-md-4">
  <div class="inner">
    <div class="highlight text-center">Todays Forecast</div>
    <div class="results">
      <p class="lead text-center">For <%= forecast.location %></p>
      <div class="<%= forecast.currently.icon %>"></div>
      <p>Summary: <%= forecast.currently.summary %></p>
      <p>Temperature: <%= forecast.currently.temperature %></p>
    </div>
  </div>
</div>
